/* src/components/Projects/Projects.module.css */
.projects h2 {
  margin-bottom: 40px;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); /* Grilla responsiva */
  gap: 30px; /* Espacio entre tarjetas */
}
